# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore the virtual environment directory
venv/
.env/

# Ignore CSV report files (you can re-generate them)
*.csv
shift_report.csv

# Ignore IDE files (if using editors like VSCode or PyCharm)
.vscode/
.idea/
*.iml

# Ignore system files (for macOS, Windows, etc.)
.DS_Store
Thumbs.db

# PyInstaller
/dist
/build
*.spec

# Logs
*.log